BASKET_ELO_AUTH_ENABLED=false
BASKET_ELO_ADMIN_EMAILS=
BASKET_ELO_INTERNAL_AUTH_SECRET=local-dev-secret
BASKET_ELO_GOOGLE_CLIENT_ID=
BASKET_ELO_GOOGLE_CLIENT_SECRET=
BASKET_ELO_FREE_SAVED_MODEL_LIMIT=1
BASKET_ELO_FREE_LEAGUE_NAME=ACB
BASKET_ELO_PAID_EMAILS=
